<link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&display=swap" rel="stylesheet">
<div class="container rounded border parent">
  <div class="left-side">
    <div class="top-block ">
      <p >мероприятие</p>
    </div>
    <div class="bottom-block text-center ">
      <p>изменение</p>
      <p class="date ">30.11.2023</p>
      <p class="time">20:43</p>
    </div>
  </div>

  <div class="third-block">
    <div class="d-flex">
      <div class="circleDiv">№1000</div>
      <p class="event">Coca-Cola за Чистую Землю: Управление Мусором и Экологические Инициативы </p>
    </div>

    <p class="description">фильтрация мусора | Алмалинский район города Алматы | 30.11.2023-14.12.2023 | 9:00-18:00 | не ограничено</p>
  </div>
</div>
